# Traefik Dynamic Configuration - TLS Certificates
http:
  routers:
    vault:
      rule: "Host(`vault.local`) || Host(`localhost`)"
      entryPoints:
        - websecure
      service: vault-service
      tls:
        certResolver: vault-cert
    
    keycloak:
      rule: "Host(`keycloak.local`)"
      entryPoints:
        - websecure
      service: keycloak-service
      tls:
        certResolver: keycloak-cert
  
  services:
    vault-service:
      loadBalancer:
        servers:
          - url: "http://vault:8201"
    
    keycloak-service:
      loadBalancer:
        servers:
          - url: "http://keycloak:8080"

tls:
  certificates:
    - certFile: /certs/vault.local.crt
      keyFile: /certs/vault.local.key
    - certFile: /certs/keycloak.local.crt
      keyFile: /certs/keycloak.local.key
