server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
          tls:
            cert_file: /certs/tempo.local.crt
            key_file: /certs/tempo.local.key
        http:
          endpoint: 0.0.0.0:4318
          tls:
            cert_file: /certs/tempo.local.crt
            key_file: /certs/tempo.local.key
    jaeger:
      protocols:
        thrift_http:
          endpoint: 0.0.0.0:14268

ingester:
  max_block_duration: 5m

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces

metrics_generator:
  storage:
    path: /var/tempo/generator/wal
