server:
  http_listen_port: 3200

distributor:
  rate_limit_bytes: 5242880

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    compacted_block_retention: 10m

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  jaeger:
    protocols:
      thrift_http:
        endpoint: 0.0.0.0:14268
